[head]
    package=conf
    configFunction=DefaultConfig


[component]
    id=seby
    aliases = badgirl , faster, car-y-owner
    type=github.com/bitwormhole/starter/demo/demo-for-config/components/Driver
    class=driver
    inject=injectDriver


[component]
    id=car1
    type=github.com/bitwormhole/starter/demo/demo-for-config/components/Car
    class=car
    inject=injectCar1
    initMethod=Start
    destroyMethod=Stop

[component]
    id=car2
    type=github.com/bitwormhole/starter/demo/demo-for-config/components/Car
    class=car
    inject=injectCar2
    initMethod=Start
    destroyMethod=Stop

[component]
    id=engine
    scope=prototype
    type=github.com/bitwormhole/starter/demo/demo-for-config/components/Engine
    class=engine
    inject=injectEngine
    initMethod=Start
    destroyMethod=Stop
