[head]
    package=index
    configFunction=configDemoIndex

[component]
    id=runner-for-configen
    type=github.com/bitwormhole/starter/tools/configen/Runner
    inject=injectRunnerConfigen

[component]
    id=runner-for-configen2
    type=github.com/bitwormhole/starter/tools/configen2/Runner
    inject=injectRunnerConfigen2

[component]
    id=runner-for-demo4gorm
    type=github.com/bitwormhole/starter/demo/demo4gin/Runner
    inject=injectRunnerDemo1

[component]
    id=runner-for-demo4gin
    inject=injectRunnerDemo2
    type=github.com/bitwormhole/starter/demo/demo4gin/Runner

[component]
    id=runner-for-help
    type=github.com/bitwormhole/starter/demo/index/help/HelpRunner
    inject=injectRunnerHelp
